body {background-color: white;
	font-family: Verdana,sans-serif;
	max-width:2300px;
	min-width:1100px
		}

		
.header {background:linear-gradient(to top, #0D58A8 50%, white 100%);
		border-radius:0px 0px 0px 0px;
		font-size:3em;
		padding: 30px 0px 10px 20px;
		margin:none;
		text-shadow:3px 3px 10px black;
		}
.wrapper {margin-left:-9px;
			margin-right:-9px}



.row:after {content:"";
			display: table;
			clear:both}
			
.column1 { float:left;
		width: 50%;
		height:70px;
		max-width:500px;
		min-width:400px}
		
.column1 a {text-decoration:none;
			color:white;
			font-variant: small-caps;
			font-family: Optima, sans-serif;
			font-size:1.3em;
			
			}
		
.column2 {float:right;
		width:50%;
		height:70px;
		}


.nav {border-bottom: 1px solid black;
	}
		
.nav ul {text-align:center;
	max-width:700px;
	min-width:200px;
	margin-right: auto;
	margin-left: auto
	}

.nav li {display:inline;
	margin-right:10px;
	text-decoration: none;
	font-size: 1.2em;
	border-right:2px solid black;
	padding:0px 5px 0px 0px
	
	}
	
.nav li a {text-decoration:none;
		color:black}
		

div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #0D58A8;
    width: 30%;
    height: 470px;
    margin-top:20px
}

.tablinks {font-size:20px}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    margin-top:20px
}


div.tab button:hover {
    background-color: #ddd;
}


div.acolor button.active {
    background-color: #a93226;
}
div.bcolor button.active {
	background-color:#D4AC0D;
	}
div.ccolor button.active {
	background-color:#004cd6;
	}
div.dcolor button.active {
	background-color:#db2312;
	}
div.ecolor button.active {
	background-color:#641e16
	}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 67%;
    border-bottom:1px solid black;
    height: 471px;
    margin-top:20px
}

.gallery { position: relative;
		height:100px;
		text-align:center
		}
		

		 
.gallery ul {
              list-style-type: none;
              text-decoration:none
			}
			
.gallery li { display:inline;
			  padding: 10px;
			text-decoration:none
			}
			
.gallery img { border: 3px groove black;
			 }

.gallery a { color: #eaeaea;
             text-decoration: none; 
			 font-style: italic;
			
			}
			
.gallery span { position: absolute; 
                left: -1000px;
				opacity: 0;
				-webkit-transition: opacity 2s ease-in-out;
                -moz-transition: opacity 2s ease-in-out;
                -o-transition: opacity 2s ease-in-out;
                transition: opacity 2s ease-in-out; 
				}
				
.gallery a:hover span { position:left;
                        top: 110%; 
						left: 20%;
                        text-align: center; 
						opacity: 1;
						color:black
						}
						
.schools {margin-top: 20px;
		background-color: #0D58A8;
		color:white;
		}
		
.column {float: left;
		width: 33%;
		height: 400px;
		}
.column h2 {text-align:center}

.column p {margin-right:5px;
			margin-left:5px;
			text-align:center;
			}
			
.column3 {width:49.55%;
		float:left;
		height:300px;
		
		}

.column3 h2 {text-align:center}

.column3 p {margin-right:5px;
			margin-left:5px;
			text-align:center;
			}
		
.row:after{content:"";
		display: table;
		clear:both;
		}

.scholar {margin-top: 20px;
		background-color: #0D58A8;
		color:white;
		}
		
footer {text-align:center}

.search {float:right;
		margin-top: -3%;
		margin-right: 3%}
		
.contact {background-color: #0D58A8;
			color:white}

.contact p {margin-left:25px}

.contact form {margin-left:200px;
			border-top:1px solid #E78C1A;
			padding:10px;
			width:50%}

.university {background-image:url(university.jpg);
		background-repeat:no-repeat;
		height: 270px;
		width: 100%;
		padding-top:120px;
		margin-top:15px;
		}

.help p{text-align:center;
		color:white;
		font-size:3em}
		
.help2 p {text-align:center;
 		color:white;
 		font-size:2em;
 		margin-top:-3%}
 		
 .index {margin-top:50px;
		background-color: #0D58A8;
		color:white;
		text-align:center;
		
		}
		
.index p {margin-left: 20px;
		margin-right:20px;
		text-align:center;
		}